:root {
    --primary: rgb(31, 64, 129);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

header {
    color: var(--primary);
}

body{
    background-image: url(Fundo.jpg);
    size: 100vh;
}

#logo {
    filter: invert(100%);
}

.logo {
    background-color: var(--primary);
    color: white;
    margin: 0;
    display: center;
    float: left;
    padding-left: 15px;
}

.navbar {
    overflow: hidden;
    background-color: var(--primary);
}

main {
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
}

main > * {
    display: block;
    margin-bottom: 1rem;
}

.navbar a,
.navbar img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 15px; 
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.gallery__img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login-container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: whitesmoke;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    border: 1px hidden black;
}

th,
td {
    border: 1px hidden black;
    padding: 1rem;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.search-box input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    background-color: ghostwhite;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento vertical entre os elementos */
    border: 1px solid #ccc; /* Borda para o contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
}

.search-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

#placeholder{
    width: 45%;
}